<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éxito!!!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilo.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        body, html {
            height: 100%; 
            margin: 0; 
        }
        .container {
            display: flex; 
            justify-content: center;
            align-items: center; 
            height: calc(100% - 200px); 
            flex-direction: column; 
        }
        .card {
            background-color: white; 
            padding: 20px; 
            border-radius: 10px; 
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
        }
    </style>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/LOGO.jpg') }}" alt="" height="100" width="100">
        <h1>SOLICITUD RECIBIDA</h1>
    </header>
    
    <div class="container">
        <div class="card">
            <figure>
                <img src="{{ url_for('static', filename='images/servicios.jpg') }}" alt="">
            </figure>
            <div class="contenido">
                <h3>Recibimos su petición!</h3>
                <p>Su solicitud fue enviada con éxito, recibirá un correo en las próximas 24hr
                    <br>
                    Estimad@: <b>{{usuario}}</b>
                    <br>
                    Correo: <b>{{correo}}</b>
                    <br>
                    Propósito: <b>{{desc}}</b>
                </p>
                <a href="/contacto">Regresar</a>
            </div>
        </div>
    </div>

    <footer>
        <p>ggsGames@gmail.com -- Todos los derechos reservados@2024</p>
        <div class="wrapper">
            <ul>
            <li class="facebook"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
            <li class="twitter"><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
             <li class="instagram"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
            <li class="google"><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
            <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
            </ul>
         </div> 
    </footer>
</body>
</html>
